<!DOCTYPE html>
<html>

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

  <head>

    <title>Dedalus</title>

  </head>
  <body>
    <div ng-app="dedalusApp" ng-controller="dedalusCtrl" id="main">
      <div>

	Dedalus Exploration Report : </br></br>

	Explorer Status :</br>

	<p>PV : {{player.pv}} / {{player.maxpv}}
	  <button ng-click="player.setpv(-1)">Aie</button>
	  <button ng-click="player.setpv(1)">Ouf</button>
	</p>

	<p>ST : {{player.st}} / {{player.maxst}}
          <button ng-click="player.setst(-1)">Growl</button>
	  <button ng-click="player.setst(1)">Miam</button>
	</p>
        </br>

	Explorer Location :</br>

	<p>{{loc.world.name}} > {{loc.zone.name}}</p>
	<p>It is currently {{loc.time}}</p>

      </div>
      <button onclick="searchForZones()">Search around</button>
      <div id="walkto">
	<!-- Boutons de déplacement ici -->
      </div> </br>
      Log of Exploration :
      <button onclick='log.add("TEST NOTIF : " + log.logTab.length)'>Add Notification</button>
      <button onclick='log.reset()'>Reset Log</button> </br>
      <div id="log">
	<!-- Log ici -->
      </div>
    </div>

    <script src="scripts/locations/forest.js"></script>
    <script src="scripts/core.js"></script>

  </body>
</html>
